<h1>List View Model5</h1>
<hr>
<a href="{% url 'create5' %}">Create</a>
<hr>
<div>
    {% for model5 in model5s %}
    <h1>{{model5.topic}}</h1>
    <h3>{{model5.data}}</h3>
    <a href="{% url 'update' model5.id %}">Update</a>
    <a href="{% url 'delete' model5.id %}">Delete</a>
    <hr>

    {% endfor %}
</div>