<h1>List View News</h1>
<hr>
<a href="{% url 'create4' %}">Create</a>
<hr>
<div>
    {% for model4 in model4s %}
    <h1> {{model4.quetion}}</h1>
    <p><input type="radio" name="quetion1" id="">{{model4.ansver1}}</p>
    <p><input type="radio" name="quetion1" id="">{{model4.ansver2}}</p>
    <p><input type="radio" name="quetion1" id="">{{model4.ansver3}}</p>    
    <p><input type="radio" name="quetion1" id="">{{model4.ansver4}}</p>
    
    <a href="{% url 'update4' model4.id %}">Update</a>
    <a href="{% url 'delete4' model4.id %}">Delete</a>
    <hr>

    {% endfor %}
</div>