<h1>List View News</h1>
<hr>
<a href="{% url 'create2' %}">Create</a>
<hr>
<div>
    {% for model2 in model2s %}
    <h1>{{model2.first_name}}</h1>
    <h1>{{model2.last_name}}</h1>
    <p>{{model2.birthday}}</p>
    <h3>{{model2.gender}}</h3>
    <a href="{% url 'update2' model2.id %}">Update</a>
    <a href="{% url 'delete2' model2.id %}">Delete</a>
    <hr>

    {% endfor %}
</div>