<h1>Delete list News</h1>
<hr>

    <form method="POST"> 
       
        {% csrf_token %} 
       
        <input type="submit" value="Delete" /> 
        <a href="/">Cancel </a> 
    </form> 
</div> 