<h1>List View Model3</h1>
<hr>
<a href="{% url 'create3' %}">Create</a>
<hr>
<div>
    {% for model3 in model3s %}
    <h1>{{model3.title}}</h1>
    <p>{{model3.description}}</p>
    <h2>{{model3.user}}</h2>
    <a href="{% url 'update3' model3.id %}">Update</a>
    <a href="{% url 'delete3' model3.id %}">Delete</a>
    <hr>

    {% endfor %}
</div>